.carousel-caption-box {
    /* Your desired background color */
   padding: 15px;
   border-radius: 5px;
   opacity: 0.9; /* Adjust the opacity as needed */
   /* Text color */
 }
 
 .carousel-caption-box h5 {
   font-weight: bold;
   background-color:  rgb(37, 141, 245);
   font-size: 24px;
   margin-bottom: 5px;
 }
 
 .carousel-caption-box h6 {
   background-color: #f50c0c;
   font-size: 16px;
   margin: 0;
 }